.actionbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 45px;

    border-bottom: 1px solid transparent;
}

.actionbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.actionbar-primary { 
    color: white;
    background-color: #428bca;
    border-color: #428bca;
}

.actionbar-primary a {
    color: white;
}

.actionbar-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.actionbar-success a {
    color: #3c763d;
}

.actionbar-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.actionbar-info a {
    color: #31708f;
}

.actionbar-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.actionbar-warning a {
    color: #8a6d3b;
}

.actionbar-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.actionbar-danger a {
    color: #a94442;
}

.actionbar > .container {
    padding: 0;
}

.actionbar-nav {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.actionbar-nav li {
    float: left;
    z-index: 1;
    font-size: 17px;
}

.actionbar-nav li a .glyphicon {
    font-size: 15px;
}

.actionbar .actionbar-title {
    display: inline-block;
    font-weight: bold;
    z-index: -1;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0 10px 0;
}

.actionbar-nav > li > a,
.actionbar-nav > li > a:hover {
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 15px;
}

.actionbar-nav > li > a:active {
    opacity: 0.3;
    text-decoration: none;
}

.actionbar-nav > li.pull-right > a {
    padding: 10px 15px 10px 0;
}







