.actionbar {
    height: 45px;
    border-bottom: 1px solid transparent;
}

.actionbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.actionbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: none;
    border-top: 1px solid transparent;
}

.actionbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.actionbar-default .actionbar-nav > li > a,
.actionbar-default .actionbar-tabs > li.active > a {
    color: #428bca;
}

.actionbar-primary { 
    color: white;
    background-color: #428bca;
    border-color: #428bca;
}

.actionbar-primary .actionbar-nav > li > a,
.actionbar-primary .actionbar-tabs > li.active > a {
    color: white;
}

.actionbar-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.actionbar-success .actionbar-nav > li > a,
.actionbar-success .actionbar-tabs > li.active > a {
    color: #3c763d;
}

.actionbar-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.actionbar-info .actionbar-nav > li > a,
.actionbar-info .actionbar-tabs > li.active > a {
    color: #31708f;
}

.actionbar-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.actionbar-warning .actionbar-nav > li > a,
.actionbar-warning .actionbar-tabs > li.active > a {
    color: #8a6d3b;
}

.actionbar-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.actionbar-danger .actionbar-nav > li > a,
.actionbar-danger .actionbar-tabs > li.active > a {
    color: #a94442;
}

.actionbar > .container {
    padding: 0 5px 0 5px;
}

.actionbar-nav {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.actionbar-nav > li {
    display: inline-block;
    font-size: 17px;
}

.actionbar-nav .actionbar-title {
    display: inline-block;
    font-weight: bold;
    z-index: -10;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0 10px 0;
}

.actionbar-nav > li > a,
.actionbar-nav > li > a:hover {
    text-decoration: none;
    display: block;
    padding: 8px 5px 10px 5px;
}

.actionbar-nav > li.pull-left > a,
.actionbar-nav > li.pull-left > a:hover {
    padding: 10px 5px 10px 5px;
}

.actionbar-nav > li > a:active {
    opacity: 0.3;
    text-decoration: none;
}

.actionbar-nav > li > a .glyphicon {
    font-size: 20px;
    line-height: 15px;
}

.actionbar-tabs {
    text-align: center;
}

.actionbar-tabs > li > a {
    font-size: 10px;
}

.actionbar-tabs.actionbar-nav > li > a {
    padding: 10px 8px 6px 8px;
    color: #666;
}

.actionbar-tabs > li > a .glyphicon {
    font-size: 23px;
    margin-bottom: 5px;
    display: block;
}

